body {
	width: 100%;
	margin: 0 0;
	font-family: Zapf Chancery, cursive;
}
footer ul {
	list-style-type:none;
	display: inline-flex;
}
footer {
	position: fixed;
	width: 100%;
	background-color: #222222;
	color: #999999;
	left: 0px;
	bottom: 0px;
	z-index: 1000;
}
#top_nav {
	text-align: center;
	margin: 0 auto;
}
#foot_nav li, #top_nav li {
	display:inline-block;
	padding: 0 15px;
}
#foot_nav ul {
	margin: 2px 0 0;
}
#foot_nav ul li a{
	color: #ffffff;
	font-size: 14px;
}
#home_slider {
	padding-top: 20px;
}
#header {
	height:100px; 
	width:100%; 
	position:fixed; 
	top: 0px; 
	background: #F2F2F2; 
	padding-top: 30px;
}
#blank {
	height:100px; 
	width:100%;
}
#social_media {
	float: right;
	margin : 2px 15px 0;
}
.menu_footer {
	float: left;
}
#fb {
	width:27px;
	height:27px;
	background:url(../images/SocialMedia/icon-facebook.png) 0px 0px;
    border: 0; 
}
#fb:hover {
	width:27px;
	height:27px;
	background:url(../images/SocialMedia/icon-facebook.png) 0px 27px;
    border: 0; 
}
#google {
	width:27px;
	height:27px;
	background:url(../images/SocialMedia/icon-google.png) 0px 0px;
    border: 0; 
}
#google:hover {
	width:27px;
	height:27px;
	background:url(../images/SocialMedia/icon-google.png) 0px 27px;
    border: 0; 
}
#ig {
	width:27px;
	height:27px;
	background:url(../images/SocialMedia/icon-instagram.png) 0px 0px;
    border: 0; 
}
#ig:hover {
	width:27px;
	height:27px;
	background:url(../images/SocialMedia/icon-instagram.png) 0px 27px;
    border: 0; 
}
#twitter {
	width:27px;
	height:27px;
	background:url(../images/SocialMedia/icon-twitter.png) 0px 0px;
    border: 0; 
}
#twitter:hover {
	width:27px;
	height:27px;
	background:url(../images/SocialMedia/icon-twitter.png) 0px 27px;
    border: 0; 
}

